.card,
.card-flip {
    display: flex;
    width: 100%;
    min-height: 350px;
}

.card-flip {
    flex-direction: row-reverse;
}

.card img,
.card-flip img {
    width: 55%;
    object-fit: cover;
    transition: 0.5s;
}

.card:hover img,
.card-flip:hover img {
    transform: scale(1.03);
}