#dropdown-menu {
    display: none;
    list-style: none;
    background-color: #8b0000;
    padding: 1rem 2rem;
    max-height:0;
    overflow:hidden;
    transition:0.4s ease;
    background-color:#8b0000;
}

#dropdown-menu a {
    text-decoration: none;
    color: #fdf5e6;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: 0.3s;
}

#dropdown-menu a:hover {
    color: #1a1a1a;
}

#dropdown-menu.show {
    display: block;
    max-height:300px;
    padding:1rem 2rem;
}

#filter-menu {
    text-align: center;
    margin-bottom: 0.6rem;
}

#filter-menu.hide {
    display: none;
}

#filter-menu .tag-button {
    background-color: var(--vintage-green);
    color: var(--vintage-yellow);
    border: 0.06rem solid var(--vintage-yellow);
    padding: 0.3rem 0.75rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer; 
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

#filter-menu .tag-button.active {
    background-color: var(--vintage-red);
    color: #ffffff;
    border-color: var(--vintage-red);
}